<p><%= page_entries_info @users %></p>

<%= paginate @users, :theme => "bootstrap" %>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to users_url(:format => :csv) do %><i class="icon-download-alt"></i> Download as CSV<% end -%></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
    Delete
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to clear_patron_data_url, :data => {:confirm => 'This will delete all non-admin patrons and cannot be undone. Are you sure?'} do %><i class="icon-ban-circle"></i> Clear all user data<% end -%></li>
  </ul>
</div>

<br /><br />

<table class="table table-striped">
  <thead>
    <tr>
  		<th><%= sortable "username"%></th>
  		<th class="hidden-phone"><%= sortable "firstname"%></th>
  		<th class="hidden-phone"><%= sortable "lastname"%></th>
  		<th class="hidden-phone"><%= sortable "email"%></th>
  		<th class="hidden-phone">Admin?</th>
  		<th>Options</th>
    </tr>
  </thead>
  <tbody>
   <% @users.each do |user| %>
   <% h = user.user_attributes %>
  	<tr class="<%= cycle("even","odd") %>">
    	<td><%=h user.username %></td>
    	<td class="hidden-phone"><%=h user.firstname %></td>
    	<td class="hidden-phone"><%=h user.lastname %></td>
    	<td class="hidden-phone"><%=h user.email %></td>
    	<td class="hidden-phone"><%=h !h[:umbra_admin].nil? && h[:umbra_admin] %></td>
    	<td><%= link_to 'Show', user %></td>
    	<td><%= link_to_if(user.username != current_user.username, 'Destroy', user, :data => {:confirm => 'Are you sure?'}, :method => :delete) %></td>
 	  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users, :theme => "bootstrap" %>
