<% h = @user.user_attributes %>
<div id="show_user">
  <dl class="dl-horizontal">

  <dt>NetID:</dt>
  <dd>&nbsp;<%=h @user.username %></dd>

  <dt>First name:</dt>
  <dd>&nbsp;<%=h @user.firstname %></dd>

  <dt>Last name:</dt>
  <dd>&nbsp;<%=h @user.lastname %></dd>

  <dt>E-mail:</dt>
  <dd>&nbsp;<%=h @user.email %></dd>

  <dt>Admin for:</dt>
  <dd><%= form_for @user, :remote => true  do |f| %>

  <% collection_codes.each do |collection| %>
    <% if current_user_has_access_to_collection? collection %>
      <label class="checkbox">
      <%= f.check_box "umbra_admin_collections[#{collection}]", 
        :value => collection, 
        :checked => (collections_user_can_admin.include? collection), 
        :disabled => ((current_user.username == @user.username && (!collections_user_can_admin.include? "global")) or (current_user.username == @user.username && collection == "global")) %>
      <%= collection.underscore.humanize %>
      </label>
    <% end -%>
  <% end -%>
  <button data-remote="true" type="submit" class="btn">Update</button>
  <% end %>
  </dd>

</dl>

<%= icon_tag :back %>
<%= link_to 'Back', users_path %>

</div>
