<% h = @user.user_attributes %>
<div id="show_user">
  <dl class="dl-horizontal">

  <dt>NetID:</dt>
  <dd>&nbsp;<%=h @user.username %></dd>

  <dt>First name:</dt>
  <dd>&nbsp;<%=h @user.firstname %></dd>

  <dt>Last name:</dt>
  <dd>&nbsp;<%=h @user.lastname %></dd>

  <dt>E-mail:</dt>
  <dd>&nbsp;<%=h @user.email %></dd>

</dl>

<%= icon_tag :back %>
<%= link_to 'Back', users_path %>

</div>
